body, html{
  margin:0; 
  overflow:hidden;
  width:100vw;
  font-family: helvetica;
  height:100vh;
  background:linear-gradient(30deg,#dedede, #ffffff)
}
.footer {
  bottom: 2px;
  position: absolute;
  left: 12px;
  color: grey;
  font-family: monospace;
  font-style: italic;
}
.footer > a {
  color: grey;
}
.container{
  position: absolute;
  width: 800px;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  box-shadow: 0 0px 10px 0 rgba(0,0,0, 0.2);
  height: 500px;
  background: white;
  overflow: hidden;
}
.content{
	position: absolute;
    width: calc(100% - 80px);
    padding: 0 40px;
    height: 100%;
    transform: rotate(0deg);
    transition: all 1s;
}
.hourglass{
    font-size: 3em;
    position: absolute;
    left: 50%;
    transition: all .9s;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.word{
	font-weight: 800;
    font-size: 24px;
    color:#2f2f2f;
    /* line-height: 10px; */
    margin: 18px 0 2px 0;
}
.spell{
	    font-size: 12px;
    margin: 0px 0;
    font-style: italic;
    color: grey;
}
.type{
	margin: 1px 0;
    font-size: 15px;
	color: #3b3b3b;
}
.exemple{
	font-size: 10px;
    margin: 6px 0;
    font-style: italic;
    color: grey;
}
p.def {
    margin-bottom: 0;
}
.def > span{
	font-size: 1.5em;
    margin: 10px 20px;
    color: #252e41;
    font-weight: 800;
}
