body, html{
  margin:0; 
  overflow:hidden;
  width:100vw;
  font-family: helvetica;
  height:100vh;
  background:linear-gradient(30deg,#dedede, #ffffff)
}
.footer {
  bottom: 2px;
  position: absolute;
  left: 12px;
  color: grey;
  font-family: monospace;
  font-style: italic;
}
.footer > a {
  color: grey;
}

.container{
  position: absolute;
  width: 700px;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  box-shadow: 0 0px 10px 0 rgba(0,0,0, 0.2);
  height: 400px;
  background: white;
  overflow: hidden;
}
.cheminey {
    position: absolute;
    bottom: 0;
    left: 20px;
    height: 200px;
    width: 163px;
    background: #f2eadd;
}
.brick{
      position: absolute;
    top: 40%;
    left: -5px;
    width: 50px;
    border-radius: 4px;
    height: 20px;
    background: #dd4040;
}
.cheminey-top{
      position: absolute;
    top: -20px;
    width: 110%;
    height: 20px;
    border-radius: 2px;
    left: -5%;
    background: #a22e2e;
}